Package: dockheight
Name: DockHeight
Depends: mobilesubstrate
Version: 1.1.0
Architecture: iphoneos-arm
Description: 调整 Dock 的高度，支持所有设备, 除了 iPad 外（无设置项，安装后生效）。
Maintainer: M哥
Author: M哥
Section: Tweaks
