Package: customdock
Name: CustomDock
Depends: mobilesubstrate, preferenceloader
Version: 1.0.2
Architecture: iphoneos-arm
Description: 一个简单的插件优化工具,可以通过滑块来调节 Dock 的高度、图标在内部的位置偏移量以及透明度。它支持所有设备,除了 iPad 外。
Maintainer: i0s_tweak3r
Author: i0s_tweak3r
Section: Tweaks
Homepage: http://twitter.com/brianvs
