<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>height</key>
			<integer>48</integer>
			<key>icon</key>
			<string>CustomDock@2x.png</string>
			<key>label</key>
			<string>自定义 Dock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>请启用插件开关，否则其他设置将无法工作。</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.customdock</string>
	<key>PostNotification</key>
		<string>com.i0stweak3r.customdock/settingschanged</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>启用</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>使用滑块调整 Dock 的不透明度。数字越低，它将变得更透明。</string>
		</dict>
		<dict>
			
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>100</integer>
			<key>defaults</key>
			<string>com.i0stweak3r.customdock</string>
<key>PostNotification</key>
			<string>com.i0stweak3r.customdock/settingschanged</string>
			<key>key</key>
			<string>opacityVal</string>
			<key>max</key>
			<integer>100</integer>
			<key>min</key>
			<integer>0</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>使用滑块调整 Dock 的位置。双击滑块的任一侧边来手动输入数值。负值将 Dock 提高到屏幕上方，正值将其降低或隐藏。大约18.0表示图标位于底部边缘，80.0表示隐藏 Dock，仅显示点状图标。</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.0</real>
			<key>defaults</key>
			<string>com.i0stweak3r.customdock</string>
	<key>PostNotification</key>
			<string>com.i0stweak3r.customdock/settingschanged</string>
			<key>key</key>
			<string>dockPercent</string>
			<key>max</key>
			<integer>80</integer>
			<key>min</key>
			<integer>-50</integer>
			<key>showValue</key>
			<true/>
		</dict>

	<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>允许更改实际高度，而不仅仅是屏幕之外的高度，仅在纵向方向上有效。</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.customdock</string>
	<key>PostNotification</key>
		<string>com.i0stweak3r.customdock/settingschanged</string>
			<key>key</key>
			<string>dockHeightEnabled</string>
			<key>label</key>
			<string>启用</string>
		</dict>

                
                <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>使用滑块调整 Dock 的高度，这种方法会在水平方向（主要是纵向，除非使用了横向的调整）改变 Dock 的实际高度和边界。</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>96.0</real>
			<key>defaults</key>
			<string>com.i0stweak3r.customdock</string>
	<key>PostNotification</key>
			<string>com.i0stweak3r.customdock/settingschanged</string>
			<key>key</key>
			<string>dockHeight</string>
			<key>max</key>
			<integer>180</integer>
			<key>min</key>
			<real>0.000001</real>
			<key>showValue</key>
			<true/>
		</dict>

		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTextCell</string>
			<key>label</key>
			<string>由 i0s_tweak3r 制作. </string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitterlink</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>twitter@2x.png</string>
			<key>label</key>
			<string>开发者推特</string>
		</dict>
		<dict>
			<key>action</key>
			<string>donate</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>paypal.png</string>
			<key>label</key>
			<string>捐赠</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTextCell</string>
			<key>label</key>
			<string>更多改变即将到来。</string>
		</dict>
	</array>
	<key>title</key>
	<string>Custom Dock</string>
</dict>
</plist>
